@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Lato&display=swap');

body {
    font-family: 'Lato', sans-serif;
    background-color: #0e0e10;
    color: white;
    text-align: center;
}

.wrapper {
    width: 100%;
    max-width: 72em;
    margin: 2em auto;
}

h1, h2 {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
    margin: 0;
}

h1 {
    font-size: 1.6rem;
}

.small-avatar {
    width: .9em;
    height: .9em;
    border-radius: .45em;
}

a {
    color: #9147ff;
}

a.user-link {
    display: inline-block;
    text-decoration: none;
    color: #fff;
}

a.button {
    display: inline-block;
    text-decoration: none;
    font-size: .8rem;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #7536d3;
    padding: .6em 1.2em;
    border-radius: .3em;
    box-shadow: .2em .2em .6em rgba(0,0,0,0.2);
    margin-top: 1em;
    color: #fff;
    transition: 0.2s background-color;
}

a.button:hover {
    background-color: #6625c8;
    box-shadow: .2em .2em .6em rgba(0,0,0,0.1);
}

.user {
    position: relative;
    display: inline-block;
    background-color: #15151a;
    margin: 1em;
    padding: 1em;
    border-radius: .4em;
    vertical-align: top;
    overflow: hidden;
    cursor: pointer;
}

.user img {
    position: relative;
    width: 6em;
    height: 6em;
    border-radius: 3.4em;
    background-color: #9147ff;
    border: .2em solid #9147ff;
    margin: 1em;
}

.user::before {
    content: '';
    background-color: #7536d3;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 7em;
}

.user.live::after {
    content: 'LIVE';
    font-family: 'Fira Sans', sans-serif;
    font-weight: bold;
    font-size: .6rem;
    position: absolute;
    top: 3.25em;
    left: 50%;
    padding: .3em .6em;
    background-color: rgb(181 44 44);
    border-radius: 1em;
    border: .15em solid rgb(186 61 61);
    transform: translate(-50%, -50%);
    box-shadow: .2em .2em .5em rgba(0,0,0,0.3);
}

.user h2 {
    font-size: 1.1rem;
    margin-bottom: .2em;
}

.fa-badge-check {
    color: #9147ff;
}

.user ul {
    font-size: .8rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

footer {
    font-size: .75rem;
    opacity: .7;
}